.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hidden {
  display: none!important;
}
.clearfix:after {
  display: block;
  content: '';
  clear: both;
  visibility: hidden
}
.swipe-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2;
}
