body {
  background-color: #efeff4;
  color: #333;
  font-size: 12px;
}
body a {
  color: #333;
}
section {
  background: #fff;
  margin-bottom: 1px;
}

/*加载中动画*/

.loading-wrap {
  width: 100px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -11px;
  z-index: 1000;
}
.loading-wrap > div {
  width: 20px;
  height: 20px;
  background-color: #a6a6a6;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: loading 1.4s infinite ease-in-out;
  animation: loading 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.loading-wrap .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loading-wrap .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes loading {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0.0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}
@keyframes loading {
  0%,
  80%,
  100% {
    transform: scale(0.0);
  }
  40% {
    transform: scale(1.0);
  }
}

/*swipe*/

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}
.swipe-wrap>div img {
  width: 100%;
  height: auto;
}
.swipe-pagination {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.swipe-pagination .swipe-pagination-bullet {
  margin: 0 1px;
  width: 7px;
  height: 7px;
  opacity: .5;
  border: 1px solid rgba(0, 0, 0, .5);
}
.swipe-pagination .swipe-pagination-bullet.swipe-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}

/*index-header*/

.index-header {
  position: fixed;
  top: -1px;
  left: 0;
  width: 100%;
  z-index: 9998;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
}
.index-header .search-input-wrap {
  margin: 6px 18px 0;
  height: 33px;
  background: #fff;
  opacity: .9;
  border-radius: 2px;
  line-height: 33px;
}
.index-header .search-input-wrap .search-input {
  margin-left: 10px;
}
.search-button {
}

/*index-entrance*/

.index-entrance .col {
  width: 25%;
  float: left;
  text-align: center;
  padding: 10px 0;
}
.index-entrance .col img {
  width: 60%;
  height: auto;
  margin-bottom: 5px;
}

/*mui-tabs*/

.mui-tabs {
  position: relative;
  width: 100%;
  z-index: 100;
  height: 48px;
  background: #fff;
  border-bottom: 1px solid #eee
}
.mui-tabs ul {
  overflow-x: auto;
}
.mui-tabs ul li {
  display: inline-block;
  letter-spacing: 0;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 15px;
  background: 0 0;
  width: 50%;
  float: left;
}
.mui-tabs ul li.active {
  color: #00a5e0;
  border-bottom: 2px #00a5e0 solid;
}

/*mui-tabs-slide*/

.mui-tabs-slide {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 7
}
.mui-tabs-slide .slide-box {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
}
.mui-tabs-slide .slide-list {
  min-width: 100%;
  max-width: 100%;
  overflow: hidden
}
.mui-tabs-slide .slide-list .slide-list-pic {
  position: relative;
}
.mui-tabs-slide .slide-list .slide-list-pic .slide-list-title {
  position: absolute;
  bottom: 10px;
  color: #fff;
  font-size: 1.2em;
  left: 10px;
  font-weight: bold;
}
.mui-tabs-slide .slide-list .slide-list-pic .slide-list-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  background: orange;
  width: 50px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
}
.mui-tabs-slide .slide-list .slide-list-pic .slide-list-tag span {
  display: block;
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 4px;
}
.mui-tabs-slide .slide-list .slide-list-sub-title {
  font-size: 1.2em;
  line-height: 1.6em;
}
.mui-tabs-slide .slide-list .slide-list-price {
  text-align: right;
  font-size: 1.5em;
  color: orange;
}
.mui-tabs-slide .slide-list .slide-list-price span {
  font-size: 1em;
}
.mui-tabs-slide .slide-list .col {
  padding: 10px;
  border-radius: 5px;
  border-bottom: 1px solid #eee;
}
.mui-tabs-slide .slide-list .col a {
  display: block;
  border-radius: 5px;
  overflow: hidden;
}
.mui-tabs-slide .slide-list .col a img {
  width: 100%;
  height: auto;
}
